<!-- {% extends 'investimentos/base.html' %}
{% block conteudo %}
{% load widget_tweaks %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Formulario de Música</h1>
        <div class="form-row alifn-items-center">
            <label for="">Nome da Música</label>
            {% render_field formulario.investimento class='form-control' %}
            <label for="">Ouvida</label>
            {% render_field formulario.pago class='form-control form-check-input' %}
            <label for="">Data</label>
            {% render_field formulario.data class='form-control' %}
        </div>

        <button style="margin-top: 10px;" class="btn btn-success" type="submit">Salvar</button>
    </form>

</div>
{% endblock %} -->